.create-service__wrapper {
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.service__main-image_block {
  display: flex;
}

.service__main-image-preview {
  width: 50%;
  position: relative;
}

.image-preview_close {   
  position: absolute;
  right:  -25px; 
}

.service__main-image-preview img {
  width:100%;
}

.service__more-images_block {
  margin-top: 30px;
  display: flex;
}

.service__more-images-previews {
  display: flex;
  margin-top: 15px;
  width: 70%;
  flex-wrap: wrap;
}