.FooterMenu ul {
    list-style: none;
    display: flex;
}

.FooterMenu ul  li{
    margin-left: 30px;  
}

.FooterMenu ul  li a{ 
    color: rgb(235, 232, 232);    
    text-decoration: none;
    transition: all 0.2s ease-in; 
    box-sizing: border-box; 
}
   
.FooterMenu ul  li a:hover{
    color: #f1f1f1; 
}

 @media (max-width: 440px) {
    .FooterMenu {    
       margin-top: 5px;
     }
    .FooterMenu ul {    
        flex-direction: column
    }
    .FooterMenu ul li {
        padding-top: 5px;
        margin-left: 0;
    }
 }