.Materials {
  box-sizing: border-box;
}

.material-block {
  display: flex;
  border-top: 1px solid #fce2dc;
  padding: 10px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
}

 
 .material-block__description { 
  padding: 15px;
}

.material-block__description h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fc6443
}

.material-block__description p {
  /* font-size: 1.9rem; */
  padding: 10px;
}

.material-block img {
  width: 100%
}

@media (max-width: 1100px) {
  .service-block {
    flex-direction: column-reverse;
  }

  .service-block__images {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .service-block__description {
    width: 100%;
    padding: 15px;
  }

}

@media (max-width: 880px) {
  .service__secondary-image {
    width: 45%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

}

@media (max-width: 375px) {
  .service-block {
    padding: 3px;
  }
  .service-block__description {
    width: 100%;
    padding: 5px;
  }

}

@media (max-width: 440px) {
  .Services {
    padding-bottom: 145px;
  }
}