.Footer-Navigation {
  display: block;
  margin: auto;
  width: 90%;
  /* box-sizing: border-box;  */
}

.footer__nav-wrapper { 
  margin: auto;
  padding-top: 3%;
  padding-bottom: 2%;
  width: 90%;
  overflow: hidden; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #189499;
  font-size: 0.9rem;
}

.copyright * {
  margin-left: 5px;
  margin-right: 5px;
}

.created {
  color: #189499;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.social {
  margin-top: 5px;
  text-align: center;
}

.created__fb,
.created__mail {
  font-size: 1.2rem;
  text-decoration: none;
  color: #189499;
  margin: 15px;
  transition: 0.3s;
}

.created__fb:hover {
  color: #3b5998;
}

.created__mail:hover {
  color: #ad3e2f;
}

@media (max-width: 1100px) {
 
}

@media (max-width: 570px) {
  .Footer-Navigation {
    width: 100%;
  }
  .footer__nav-wrapper {
    width: 100%;
  }
  .copyright {
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 440px) {
}
