.Services {
  box-sizing: border-box;
}

.service-block {
  display: flex;
  border-top: 1px solid #fce2dc;
  padding: 10px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
}

.service-block__images {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.service__main-image {
  width: 100%;
  margin-bottom: 10px;
}

.secondary-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%; 
  box-sizing: border-box;
}

.service__secondary-image {
  width: 100px; 
  padding: 5px; 
  margin-bottom: 5px;
}

.service-block__description {
  width: 50%;
  padding: 15px;
}

.service-block__description h2 {
  text-align: center;
  text-transform: uppercase;

}

.service-block__description p {
  font-size: 0.9rem;
  padding: 10px;
}

@media (max-width: 1100px) {
  .service-block {
    flex-direction: column-reverse;
  }

  .service-block__images {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .service-block__description {
    width: 100%;
    padding: 15px;
  }

}

.with-video {
  display: flex;
  flex-direction: row;
}

.with-video-block {
  display: flex;
  flex-direction: column;
}

.video_block-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.video_block-images img {
  width: 45%;
  height: 60%;
  padding: 5px;
}

@media (max-width: 880px) {
  .service__secondary-image {
    width: 45%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

}

@media (max-width: 375px) {
  .service-block {
    padding: 3px;
  }
  .service-block__description {
    width: 100%;
    padding: 5px;
  }

}

@media (max-width: 440px) {
  .Services {
    padding-bottom: 145px;
  }
}