.BackDrop {
    z-index: 2; 
    position: fixed;
    background: rgba(0, 0, 0, 0.452);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ZoomBackDrop {
    z-index: 2; 
    position: fixed;
    background: rgba(0, 0, 0, 0.452);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}