.all-cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.product-card {
  padding-top: 10px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-top: 2px solid #fc6443;
  box-sizing: border-box;
  text-align: center;
  width: 30%;     
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img img {
  width: 150px;
  /* height: 175px; */
}

/* Table */

.divTable {
  display: table;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 0.8rem;
}

.divTableRow {
  display: table-row;
}

.divTableCell,
.divTableHead {
  display: table-cell;
  padding: 3px 10px;
}

.divTableHeading {
  font-weight: 500;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}


/* prices */

.card-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.card-price__gray {
  background: #ccc;
  color: black;
  width: 50%;
  padding: 5px;
}

.card-price__color {
  background: #189499;
  color: white;
  width: 50%;
  padding: 5px;
}

.fix-bottom-card {
  display: block;
  /* position: absolute; */
  left: 0;
  right: 0;
  /* bottom: 0; */
}

.pagination-block {
  display: block; 
  margin: 0 auto;  
  margin-top: 10px;
  width: max-content
}
.pagination-block ul { 
  list-style: none;
  display: flex;  
}

.pagination-block ul li { 
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  background: #EEE;
}

.pagination-block ul li:hover {
  background: rgb(235, 235, 235); 
}

.active_page {
  background: #fc6443 !important;
  color: white 
}

@media (max-width: 880px) {
  .all-cards {
    flex-direction: column;
  }

  .product-card {
    width: 100%;
    flex-direction: row;
    justify-content: space-around
  }

  .card__img {
    width: 40%;
    
  }
 
  .card__img img {    
    width: 60%;
    margin: 0 auto;
  }

}

@media (max-width: 570px) {
   
  .product-card {
    width: 100%;
    flex-direction: column;
    justify-content: space-around
  }

  .card__img {
    width: 100%;
    
  }
 
  .card__img img {    
    width: 50%;
    margin: 0 auto;
  }
}