.Contact {
  /* width: 75%; */
  /* text-align: center; */
}

.contact-block {
  /* border: 1px solid lightgray; */
  padding: 15px;
  -webkit-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
}

.contact-block p {
  font-size: 0.8rem;
  padding: 5px;
}

.contact__address {
  margin-top: 15px;
}