.CallModal {
    overflow-y: hidden;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.918);
    animation: modalAnimate .4s;
    margin-bottom: 0;
}