.MapAndServices {
  width: 90%;
  margin: 0 auto;
  background: #f9f7f7;
  position: relative;
}

.footer-services {
  text-align: center;
  background: #0f858a;
  color: white;
  position: absolute;
  bottom: -250px;
  width: 100%;
  height: 250px;
  z-index: 3;
  display: flex;
  align-items: center;  
  padding: 5px;
  box-sizing: border-box;
}

.footer-service {
  margin: 0 auto;
  width: 250px; 
  display: block; 
}

.service-img {
  width: 25%; 
  padding: 5px;
  margin-bottom: 15px;
}

@media (max-width: 440px) {
  .footer-services {
    flex-direction: column; 
    height: auto;
  }

  .footer-service {
    margin: 0 auto;
    width: 150px; 
    display: block; 
  }
}