.reviews-block {
  display: flex;
  justify-content: space-between;
}

.reviews-block__item {
  width: 58%;
}

.reviews-block__item .pagination-block {
  margin-top: 15px ; 
  margin-bottom: 15px ; 
}

.review-item { 
  padding: 30px;
  -webkit-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 0.75);
}


.review-item p {
  color: rgb(92, 92, 92);
  margin-bottom: 10px;
  width: 100%;
}

.reviews-block__form {
  background-color: #e74521;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.inputFields {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  outline: none;
  border: none;
}

.reviews-block__form h4 {
  color: #ffffff;
  margin-top:25px;
}

.reviews-block__form p {
  color: #e4e4e4;
  font-size: 0.8rem;
  width: 80%;
  margin:0 auto;
  margin-bottom: 10px;
}

.reviews-block__form textarea {
  resize: vertical;
  margin-bottom: 10px;
}

.reviews-block__form button {
  padding: 15px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition:  .3s
}

.reviews-block__form button:hover {
  background: #ccc;
}


@media (max-width: 980px) {
  .reviews-block {
    flex-direction: column;    
  }
  .reviews-block__form {     
    width: 100%;    
 
  }

  .reviews-block__item {
    width: 100%;
  }
}