.Main {
  /* width: 75%; */
}

.service-tiles {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 880px) {
  .service-tiles {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
  }
}


 
 .main-video {
   margin: 0 auto;
 }