.ContactUs {
  /* margin-top: 100px; */
  background: #fc6443;
  width: 90%;
  margin: 0 auto; 
  height: 600px;
  /* transform: translate(-25%); */
  text-align: center;
  color: white;
  letter-spacing: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modalContact {
  margin-top: 5%;
  z-index: 99999;
}

.ContactUs input::placeholder, textarea::placeholder {
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
}

.ContactUs h2 {
  padding-top: 115px;
}

.ContactUs p {
  margin-top: 3%;
  width: 50%;
  margin: 0 auto;
}

.modal-contact_close {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .3s;
}

.modal-contact_close:hover {
  color: rgb(214, 214, 214);
}

.contact-inputs {
  width: 35%;
  margin: 0px auto;
  box-sizing: border-box;
  margin-top: 45px;
  margin-bottom: 50px;

}

.contact-input {
  margin: 3px;
  padding: 3px;
  width: 45%;
  font-size: 14px;
  border: none;
  background: none;
  color: white;
  border-bottom: 1.3px solid white;
  outline: none
}

.contact-text {
  display: block;
  width: 32%;
  font-size: 14px;
  padding: 5px;
  margin: 0 auto;
  resize: none;
  border: none;
  color: white;
  background: none;
  outline: none;
  border-bottom: 1.3px solid white;
  overflow: auto;
  overflow-x: hidden;
}

/* @-moz-document url-prefix() {
  .ContactUs {
    margin-top: 100px;
    background: #fc6443;
    width: 140.8% ; 
    height: 600px;
    transform: translate(-26.3%);
    text-align: center;
    color: white;
    letter-spacing: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
} */

.contact-btn { 
  background: none;
  border: 1px solid white;
  color: white;
  padding: 15px;
  line-height: 0.5em;
  width: 150px;
  height: 40px;  
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  transition: .3s;
  font-size: 18px;
  letter-spacing: 1px;
}

.contact-btn:hover {
  background: white;
  color: #fc6443
}

@media (max-width: 1100px) {
  .contact-inputs {
    width: 50%;
    margin: 0px auto;
    box-sizing: border-box;
    margin-top: 85px;
    margin-bottom: 50px;  
  }
  .contact-text {
    display: block;
    width: 46%;
    font-size: 14px;
    padding: 5px;
    margin: 0 auto;
    resize: none;
    border: none;
    color: white;
    background: none;
    outline: none;
    border-bottom: 1.3px solid white;
    overflow: auto;
    overflow-x: hidden;
  }
 
}

@media (max-width: 880px) {
  .contact-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 0px;    
  }

  .contact-input {
    margin-bottom: 30px; 
  }

  .contact-text {
    display: block;
    width: 45%;
    font-size: 14px;
    padding: 5px;
    margin: 0 auto;
    resize: none;
    border: none;
    color: white;
    background: none;
    outline: none;
    border-bottom: 1.3px solid white;
    overflow: auto;
    overflow-x: hidden;
  }
}


@media (max-width: 440px) {
  .ContactUs {
    /* margin-top: 100px; */
   
    width: 100%;
    
    height: 100vh;
   
  }
 
  .contact-inputs {
    width: 80%;
    margin: 0px auto;
    box-sizing: border-box;
    margin-top: 35px; 
  }

  .contact-input { 
    width: 100%; 
  }
  .contact-text { 
    width: 80%; 
  }
}