.service-tile {
  display: flex;
  flex-direction: column;
  width: 220px;
  box-sizing: border-box;
  margin: 15px;
  margin-bottom: 40px;
}

.service-tile img {
  width: 220px
}

.service-tile span {
  background: #199499;
  color: white;
  padding: 10px 5px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  font-weight: 600
}

@media (max-width: 440px) {
  .service-tile {    
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;    

  }
  .service-tile img {
    width: 100%;
    height: 100%
  }
  .service-tile span {      
    padding: 5px 5px;
    width: 100%;   
  }
}