* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  /* border: 1px solid red  */
  background: #e9e9e9;
  box-sizing: border-box;
}

.main-wrapper {
  width: 90%;
  margin: 0 auto;
  background: #f9f7f7;
  box-sizing: border-box;
  padding: 48px 30px;
  display: flex;
}

.main-content {
  width: 75%;
}

@media (max-width: 1100px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 880px) {
  .main-wrapper {
    margin-bottom: 40%;
    padding: 48px 20px;
  }
}
