.main-map {
    display: block;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 80px;
    width: 50%;
    margin: 0 auto;
}

.main-map__map {
    margin-top: 125px;
    margin-bottom: 65px;
    -webkit-box-shadow: 0px 0px 39px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 39px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 39px -13px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

@media (max-width: 880px) {
    .main-map {
        padding-top: 85px;
        width: 80%
    }
    .main-map__map {
        margin-top: 85px;
    }
}

@media (max-width:440px) {
    .main-map {
        padding-bottom: 125px;
    }
}