.MenuToggle { 
    display: none;
    box-sizing: border-box;
    position: relative;
    top: 30%;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: opacity, left .22s ease-in; 
    z-index: 2000;
}

.MenuToggle:hover {
    opacity: .7;
}
.MenuToggle.opened {
    color: #ffffff;
    transition: .2s;
    transform: translate(270px,-100px);
    display: inline-block
}
.MenuToggle.opened:hover {
    color: #ffffff;
}

 

@media (max-width: 1100px) { 

    .MenuToggle {
        display: inline-block;
    }
}

@media (max-width: 880px) { 
    .MenuToggle { 
        top: 17.5%;
    }
}

 