.Header {
  /* color: red */
}

.header-top {
  background: #0b5053;
  width: 100%;
  height: 30px;
  display: flex; 
  justify-content: flex-end;
}

 
.header-top div {
  padding: 5px;
}

.header-top div:last-child {
  margin-right: 5%;
}

.header-top  a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

.header-title {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
 
.header-title * {
  
  margin-bottom: 15px;
}

.header-title h1 {
  font-size: 1.7rem;
}

.order-text {
  font-style: italic;
  font-size: 0.8rem
}


.order-button {
  padding: 10px;
  border: none;
  background-color: #e74521;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: .3s;
}

.order-button:hover {
  background-color: #e9512f;

}

.header-about {
  /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25px; 
  padding-top: 55px;
  display: flex;
  justify-content: space-between
}

.header-contacts {
  text-align: right;
  color: #6b6a6a;
}

.header-contacts > div {
  margin-top: 3px;
}

.contact-address::after, .contact-phone::after, .contact-mail::after {
  color: #fc6443;
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
  font-weight: 900; 
  margin-left: 5px;
}

.contact-phone::after {
  font-family: "Font Awesome 5 Free";
  content: "\f095";
  /* transform: rotate(90deg); */
}

.contact-mail:after {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
}

.contact-address a {
  color: black;
  text-decoration: none;
}

.contact-address:after {
  font-family: "Font Awesome 5 Free";
  content: "\f5a0";  
}


@media (max-width:440px) {
  .header-about {
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
  }

  .header-contacts {
    text-align: center;  
  }
}