.Footer {
  height: 450px;
  position: relative;
  left: 0px;
  /* bottom:0px;     */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #0b5053; 
}

.footer-contacts {
  padding-top: 15%; 
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  color: #4e8e8f;
}

.footer-contacts a {
  text-decoration: none;
  color: #4e8e8f;
}

.footer-contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; 
}

.footer-contact_item i {
  margin-bottom: 3%;
  font-size: 1.3rem;
}


@media (max-width: 1100px) {
  .footer-contacts {
    padding-top: 18%; 
  }
 
  .footer-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #0b5053; 
  }
     
}

@media (max-width: 615px) {
  .Footer {
    min-height: 550px;
    padding-top:5%
  }

  .footer-contacts { 
    flex-direction: column;
  } 
  
  .footer-contact_item {
    margin-bottom: 15px;
  }
     
}

@media (max-width: 445px) {
  .Footer {
    min-height: 600px;
    padding-top:10%
  }

  .footer-contacts { 
    flex-direction: column;
  } 
  
  .footer-contact_item {
    margin-bottom: 15px;
  }
     
}