.Sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  box-sizing: border-box;
  margin-right: 40px;
}

.sidebar__catalog {
  margin-bottom: 60px;
}

.catalog-header {
  box-sizing: border-box;
  background: #095457;
  padding: 18px;
  color: white;
  font-weight: 600;
  height: 55px;
  text-transform: uppercase;
}

.catalog-row {
  box-sizing: border-box;
  padding: 15px;
  background: #0f858a;
  color: white;
  height: 55px;
  border-bottom: 2px solid #095457;
  transition: 0.3s
}

.catalog-row:hover {
  cursor: pointer;
  background: #0e7a7e;
}

.sidebar__text {
  background: #f55a38;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

@media (max-width: 1100px) {
  .Sidebar {
    width: 100%;
  }
  .catalog-row {
    padding: 15px;
    height: 60px;
  }
  .sidebar__catalog {
    margin-bottom: 30px;
  }
}

@media (max-width: 880px) {
 
}