@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
}


.slick-slider { 
    width: 100%;   
    box-sizing: border-box; 
    position: relative;
}
 
.slick-slide img {
    width: 100%;    
    min-height: 500px;
    height: calc(40vh);  
    overflow: hidden;  
} 

.slick-arrow { 
    transform: translateY(310px)
}

.slider-arrow-end {
    position: absolute;
    bottom: 4px;
    right: 0;
    padding: 10px 15px; 
    background: white;
    color: #fc6443;
    cursor: pointer;
}

.next-arrow {
    z-index: 6;
    margin-left: 30px;
}

.prev-arrow {
    margin-right: 30px;
}
 
/* .slick-prev {
    position: fixed; 
    left: 1000px;
    z-index: 6;  
    transform: translateY();
    transition: all 300ms ease;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.slick-next {
    position: fixed;
    right: 55px; 
    z-index: 6;  
    background: rgba(0, 0, 0, 0.3);
    transition: all 300ms ease;
    padding: 10px;    
}  */
 
.slick-next:before, .slick-prev:before  { 
    display: none;     
    font-family: FontAwesome;
    content: "\f061"; 
}

.slick-prev:before {
    font-family: FontAwesome;
    content: "\f060";
}


.arrow:before { 
    display: inline-block;
    vertical-align: middle; 
    color: white;
    opacity: 1;
}
.arrow:hover {
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
.overlay {
    position: relative;    
    overflow: hidden;
}
 
.overlay img {
    transition: .5s ease;
    position: relative;
}

.overlay::before {
    content: '';
    background: #696969;
    width: 37%;
    opacity: 0.5;
    min-height: 100%;
    position: absolute;
    z-index: 5;
    margin: auto;
    top: 0;
    right: 0;
    transition: 0.3s;
    animation: overlay-slide 1.3s
}

@keyframes overlay-slide {
    0% {
        opacity: 0
    }
    100% {
        opacity: 0.5;
    }
}


.slider-text {
    position: absolute;
    top: 50%;
    right: 18.5%;
    transition: .5s ease; 
    text-transform: uppercase;
    z-index: 10;
    transform: translate(50%, -50%);      
    width: 35%;
    margin: auto;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.8rem;  
    margin-bottom: 3rem !important; 
    text-align: center;
    align-items: center !important;
    border: 1px solid white;
    padding: 5px;
    box-sizing: border-box;
}

 
.discount { 
    color: #43fcf3;
}

@media (max-width: 1300px) {
    .slick-slide img {
        width: 100%;    
        min-height: 450px;
        overflow: hidden;  
    }
    .slider-text {
     font-size: 0.8em;
    }    
}

@media (max-width: 1200px) {
    .slick-slide img {
        width: 100%;    
        min-height: 400px;
        overflow: hidden;  
    }
    .slider-text {
     font-size: 0.7em;
    }    
}


@media (max-width: 880px) {
    .slick-slide img {
        width: 100%;    
        min-height: 400px;
        overflow: hidden;  
    }
    .slider-text {
        font-size: 0.7em; 
    }    
}

@media (max-width: 1100px) {
    .slick-slider {
        padding-top: 0;
    }
    .slick-slide img {          
        min-height: 350px;       
    }
    .slick-arrow {
        position: absolute;
        top: 45%;
    }
}

@media (max-width: 650px) {
    .slick-slider {
        /* padding-bottom: 50px; */
    }
    .slick-slide img {
        min-height: 120px;
         /* height: calc(40vh);   */
    }
}

@media (max-width: 440px) {
    .slick-slide img {
        min-height: 180px;
        height: 180px;
         /* height: calc(40vh);   */
    }
    .slick-arrow {
        display: none;
        position: absolute;
        top: 45%;
    }
    .slider-text {
     font-size: 0.57em; 
    }
    .slick-slider {
        padding-top: 0;
    }

    .overlay::before {        
        width: 60%;        
    }
 
    .slider-text {         
        right: 28%;        
    }   
}